* {	margin: 0;padding: 0;}
.clearfix:after { content="";display: block;clear:both; }
a {text-decoration: none;color: #000;}
li {list-style-type: none;}
/*宽度自适应规范
大屏幕（桌面）>= 1200
中等屏幕（桌面）>= 992
小屏幕（平板）>= 768
超小屏幕（手机）< 768*/
header {
	background: linear-gradient(#bbb,#f5f5f5);
}
.head-div {
	width: 900px;
	margin: 0 auto;
	padding: 20px 0;
}
@media (max-width: 1199px){
	.head-div {
		width: 600px;
	}
}
.logo-block {
	display: inline-block;
}
.logo-block>h3 {
	margin: 10px 0;
	transform: translateY(-300%);
	animation:logospanDown 0.5s ease 1s forwards;
}
.logo-block>h3 a:hover {
	display: block;
	animation: logospanZoom 0.1s linear 3 alternate;
}
.logo-span {
	width: 80%;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}
.logo-span>i {
	height: 2px;
	background: #000;
	display: block;
}
.line-top {
	animation:logolineLeft 1s;
}
.line-bottom {
	animation:logolineRight 1s;
}
@keyframes logolineLeft {
	from {transform: translateX(100%);}
	to {transform: translateX(0);}
}
@keyframes logolineRight {
	from {transform: translateX(-100%);}
	to {transform: translateX(0);}
}
@keyframes logospanDown {
	from {transform: translateY(-50%);opacity: 0.5;}
	to {transform: translateY(0);opacity: 1;}
}
@keyframes logospanZoom {
	from {transform:rotate(-3deg);}
	to {transform:rotate(3deg)}
}
nav {
	display: inline-block;
	float: right;
	transform: translateY(-300%);
	animation:logospanDown 0.5s ease 1.5s forwards;
}
.nav-ul>li {
	display: inline-block;
	padding: 2px 5px;
    margin: 10px 5px;
    border-radius: 3px;
    transition: color .5s ease-in .1s;
}
.nav-ul>li:hover {
	background-color: #fff;
}
.nav-ul>li:hover span {
	color: #fd6767;
}
.nav-ul>li span.iconfont,
.nav-ul>li div {
	display: inline-block;
	vertical-align: middle;
}